{% render 'bread-crump' %}

<div class="blog-siderbar-area pt-115">
    <div class="right-sidebar-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-9  col-lg-9  col-md-12  col-sm- col-">
                    {% paginate blog.articles by 1 %}
                    <div class="blog-rs-post single-blog mt-2 pr-40">



                        <div class="row">

                            {% for article in blog.articles %}
                            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                                <div class="blog-sidebar-img mb-50">
                                    <div class="blog-img">
                                        <a href="blog-details.html" class="d-block">
                                            {% if article.image %}
                                            <img class="width100 height100" src="{{article.image |  image_url }}"
                                                alt="{{article.image.alt}}">
                                            {% else %}
                                            {{'lifestyle-1'| placeholder_svg_tag:'width100 height100'}}
                                            {% endif %}

                                        </a>
                                    </div><!-- /blog-img -->
                                    <div class="single-blog-content bg-white pt-25 pr-20">
                                        <ul class="single-blog-info d-sm-flex mb-15">
                                            <li class="date pr-25 mt-10">
                                                <a href="#" class="text-uppercase gray-color2 hvr font500">
                                                    <span class="pr-1 theme-color"><i class="fas fa-calendar-alt"></i>
                                                    </span>
                                                    <span> {{article.created_at | date:'%B %d , %Y'}}</span>
                                                </a>
                                            </li>
                                            <li class="comment pr-25 mt-10">
                                                <a href="{{article.author_url}}"
                                                    class="text-uppercase gray-color2 hvr font500">
                                                    <span class="pr-1 theme-color"><i class="fas fa-user"></i></span>
                                                    <span>{{article.author}}</span>
                                                </a>
                                            </li>
                                            <li class="comment mt-10">
                                                <a href="#" class="text-uppercase gray-color2 hvr font500">
                                                    <span class="pr-1 theme-color"><i class="fas fa-comment"></i></span>
                                                    <span>Comment ({{article.comments_count}})</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <h4 class="font500 blog-title-1"><a class="pb-2 d-block"
                                                href="{{article.url}}">{{article.title}}</a></h4>
                                        <p class="pb-1 gray-color2">
                                            {% if artcle.excerpt.size>0 %}
                                            {{article.excerpt | truncatewords: 20}}
                                            {% else %}
                                            {{article.content | truncatewords: 20}}
                                            {% endif %}
                                        </p>
                                        <a href="{{article.url}}"
                                            class="d-inline-block text-capitalize primary-color hvr font500">{{section.settings.button_text}}</a>
                                    </div><!-- /single-blog-content -->
                                </div>
                            </div>
                            {% endfor %}
                        </div><!-- /row -->

                    </div><!-- blog-rs-left -->
                    {% render 'pagination', pagination: paginate %}
                    {% endpaginate %}
                </div><!-- /col -->
                <div class="col-xl-3  col-lg-3  col-md-12  col-sm-12 col-12 pl-lg-0">
                    <div class="rs-right panel">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-3 px-lg-0">
                                <div class="sidebar-widget mb-40">
                                    <h4 class="pb-10 mb-30 font500 sidebar-title position-relative">Search</h4>
                                    <div class="blog-search position-relative">
                                        <input class="form-control theme-color" type="text" placeholder="Search ...">
                                        <a class="position-absolute gray-color2" href="#"><span><i
                                                    class="far fa-search"></i></span></a>
                                    </div>
                                </div><!-- /sidebar-widget -->
                            </div><!-- /col -->
                            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 px-3 px-lg-0">
                                <div class="sidebar-widget mb-30">
                                    <h4 class="pb-10 mb-25 font500 sidebar-title position-relative">Categories</h4>
                                    <ul>
                                        <li class="pb-20 d-block"><a href="blog.html">Accessories</a> <span
                                                class="gray-color pl-1">(2)</span>
                                            <span class="accordion"></span>
                                            <ul class="panel bg-transparent over-hidden">
                                                <li><a class="pb-15 pt-20 d-block gray-color2"
                                                        href="blog-details.html">Floor</a></li>
                                                <li><a class="pb-2 d-block gray-color2"
                                                        href="blog-details.html">Outdoor</a></li>
                                            </ul>
                                        </li>
                                        <li class="pb-20 d-block"><a href="blog.html">Clothing</a> <span
                                                class="gray-color pl-1">(3)</span>
                                            <span class="accordion"></span>
                                            <ul class="panel bg-transparent over-hidden">
                                                <li><a class="pb-15 pt-20 d-block gray-color2"
                                                        href="blog-details.html">Man</a></li>
                                                <li><a class="pb-15 d-block gray-color2"
                                                        href="blog-details.html">Women</a></li>
                                                <li><a class="pb-2 d-block gray-color2"
                                                        href="blog-details.html">children</a></li>
                                            </ul>
                                        </li>
                                        <li class="pb-20 d-block"><a href="blog.html">Interior</a> <span
                                                class="gray-color pl-1">(3)</span>
                                            <span class="accordion"></span>
                                            <ul class="panel bg-transparent over-hidden">
                                                <li><a class="pb-15 pt-20 d-block gray-color2"
                                                        href="blog-details.html">Man</a></li>
                                                <li><a class="pb-15 d-block gray-color2"
                                                        href="blog-details.html">Women</a></li>
                                                <li><a class="pb-2 d-block gray-color2"
                                                        href="blog-details.html">children</a></li>
                                            </ul>
                                        </li>
                                        <li class="pb-20 d-block"><a href="blog.html">Lights</a> <span
                                                class="gray-color pl-1">(4)</span>
                                            <span class="accordion"></span>
                                            <ul class="panel bg-transparent over-hidden">
                                                <li><a class="pb-15 pt-20 d-block gray-color2"
                                                        href="blog-details.html">Bathroom Lights</a></li>
                                                <li><a class="pb-2 d-block gray-color2" href="blog-details.html">Ceiling
                                                        lights</a></li>
                                                <li><a class="pb-15 pt-2 d-block gray-color2"
                                                        href="blog-details.html">Tables lamp</a></li>
                                                <li><a class="pb-2 d-block gray-color2" href="blog-details.html">Wall
                                                        lights</a></li>
                                            </ul>
                                        </li>
                                        <li class="pb-20 d-block"><a href="blog.html">Uncategorized</a> <span
                                                class="gray-color pl-1">(3)</span>
                                            <span class="accordion"></span>
                                            <ul class="panel bg-transparent over-hidden">
                                                <li><a class="pb-15 pt-20 d-block gray-color2"
                                                        href="blog-details.html">Man</a></li>
                                                <li><a class="pb-15 d-block gray-color2"
                                                        href="blog-details.html">Women</a></li>
                                                <li><a class="pb-2 d-block gray-color2"
                                                        href="blog-details.html">children</a></li>
                                            </ul>
                                        </li>
                                        <li class="pb-20 d-block"><a href="blog.html">Wheel</a> <span
                                                class="gray-color pl-1">(3)</span>
                                            <span class="accordion"></span>
                                            <ul class="panel bg-transparent over-hidden">
                                                <li><a class="pb-15 pt-20 d-block gray-color2"
                                                        href="blog-details.html">Man</a></li>
                                                <li><a class="pb-15 d-block gray-color2"
                                                        href="blog-details.html">Women</a></li>
                                                <li><a class="pb-2 d-block gray-color2"
                                                        href="blog-details.html">children</a></li>
                                            </ul>
                                        </li>
                                        <li class="pb-20 d-block"><a href="blog.html">Tires</a> <span
                                                class="gray-color pl-1">(4)</span>
                                            <span class="accordion"></span>
                                            <ul class="panel bg-transparent over-hidden">
                                                <li><a class="pb-15 pt-20 d-block gray-color2"
                                                        href="blog-details.html">Bathroom Lights</a></li>
                                                <li><a class="pb-2 d-block gray-color2" href="blog-details.html">Ceiling
                                                        lights</a></li>
                                                <li><a class="pb-15 pt-2 d-block gray-color2"
                                                        href="blog-details.html">Tables lamp</a></li>
                                                <li><a class="pb-2 d-block gray-color2" href="blog-details.html">Wall
                                                        lights</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div><!-- /sidebar-widget -->
                            </div><!-- /col -->
                            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 px-3 px-lg-0">
                                <div class="sidebar-widget mb-50">
                                    <h4 class="pb-10 mb-30 font500 sidebar-title position-relative">Recent Posts</h4>
                                    <ul class="recent-post">
                                        <li class="d-flex mb-20">
                                            <a href="blog-details.html"><img
                                                    src="images/blog/blog-page/propular-post-img1.jpg" alt="blog"></a>
                                            <div class="r-post-content ml-15">
                                                <h6 class="theme-color">
                                                    <a href="blog-details.html" class="primary-color font600">Adipisci
                                                        Fugiat ea quod iste voluptate numquam</a>
                                                </h6>
                                                <span>May 23, 2020</span>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-20">
                                            <a href="blog-details.html"><img
                                                    src="images/blog/blog-page/propular-post-img2.jpg" alt="blog"></a>
                                            <div class="r-post-content ml-15">
                                                <h6 class="theme-color">
                                                    <a href="blog-details.html" class="primary-color font600">Fugiat
                                                        quod iste adipisci voluptate numquam</a>
                                                </h6>
                                                <span>June 24, 2020</span>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-20">
                                            <a href="blog-details.html"><img
                                                    src="images/blog/blog-page/propular-post-img3.jpg" alt="blog"></a>
                                            <div class="r-post-content ml-15">
                                                <h6 class="theme-color">
                                                    <a href="blog-details.html" class="primary-color font600">Numquam
                                                        Fugiat ea quod iste adipisci voluptate</a>
                                                </h6>
                                                <span>Aug 26, 2020</span>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-20">
                                            <a href="blog-details.html"><img
                                                    src="images/blog/blog-page/propular-post-img4.jpg" alt="blog"></a>
                                            <div class="r-post-content ml-15">
                                                <h6 class="theme-color">
                                                    <a href="blog-details.html" class="primary-color font600">APL
                                                        Logistics seeks to be a premier, profitable</a>
                                                </h6>
                                                <span>June 24, 2020</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- /sidebar-widget -->
                            </div><!-- /col -->
                            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 px-3 px-lg-0">
                                <div class="sidebar-widget mb-40">
                                    <h4 class="pb-10 mb-30 font500 sidebar-title position-relative">Tags post</h4>
                                    <ul class="search-tag">
                                        <li><a href="blog-details.html">product Store</a></li>
                                        <li><a href="blog-details.html">Living room</a></li>
                                        <li><a href="blog-details.html">Home Accessories</a></li>
                                        <li><a href="blog-details.html">Lighting</a></li>
                                        <li><a href="blog-details.html">Easy Chair</a></li>
                                        <li><a href="blog-details.html">Bathroom</a></li>
                                        <li><a href="blog-details.html">Office</a></li>
                                        <li><a href="blog-details.html">Clothing</a></li>
                                        <li><a href="blog-details.html">Chairs</a></li>
                                        <li><a href="blog-details.html">fashion</a></li>
                                        <li><a href="blog-details.html">Interior</a></li>
                                        <li><a href="blog-details.html">Bags</a></li>
                                    </ul>
                                </div><!-- /sidebar-widget -->
                            </div><!-- /col -->
                            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 px-3 px-lg-0">
                                <div class="sidebar-widget mb-50">
                                    <h4 class="pb-10 mb-30 font500 sidebar-title position-relative">Popular Posts</h4>
                                    <ul class="recent-post">
                                        <li class="d-flex mb-20">
                                            <a href="blog-details.html"><img
                                                    src="images/blog/blog-page/propular-post-img3.jpg" alt="blog"></a>
                                            <div class="r-post-content ml-15">
                                                <h6 class="theme-color">
                                                    <a href="blog-details.html" class="primary-color font600">In key
                                                        markets & region We will accomplish</a>
                                                </h6>
                                                <span>May 23, 2020</span>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-20">
                                            <a href="blog-details.html"><img
                                                    src="images/blog/blog-page/propular-post-img5.jpg" alt="blog"></a>
                                            <div class="r-post-content ml-15">
                                                <h6 class="theme-color">
                                                    <a href="blog-details.html" class="primary-color font600">Enable
                                                        sustainable trade and commerce</a>
                                                </h6>
                                                <span>June 24, 2020</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- /sidebar-widget -->
                            </div><!-- /col -->
                            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 px-3 px-lg-0">
                                <div class="sidebar-widget mb-50">
                                    <a href="blog-details.html">
                                        <img src="images/blog/blog-page/blog-banner.jpg" alt="">
                                    </a>
                                </div><!-- /sidebar-widget -->
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div><!-- rs-right -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
</div>

{% schema %}
{
"name": "Tempalte Blog",
"settings": [
{
"type": "text",
"id": "button_text",
"label": "Button Text",
"default": "Read More"
}
]
}
{% endschema %}